
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Helvetica, Arial, Sans-Serif;
    overflow-y: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cluster:hover {
    border: 2px solid blue;
    border-radius: 50%;
}

#theMap {
    background: lightgreen;
    overflow-y: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
}

#topLayer {
    position: fixed;
    top:0px; left: 0px; right: 0px; bottom: 0px;
    pointer-events: none;
    z-index: 200;
}
#topLayer>* {
    pointer-events: all;
}

.floatingPopup {
    display: none;
    position: absolute;
    min-width:350px;
    height: 300px;
    background-color: rgb(231, 243, 243);
    border-radius: 4px;
}

.fixedPopup {
    display: none;
    position: absolute;
    top:40px; width: 80%; right:40px; bottom: 10%;
    background-color: rgb(231, 243, 243);
    border-radius: 4px;
    max-width: 600px;
    max-height: 600px;
}

#popuptextgroup {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 40px;
}
.popupTextBox {
    position:absolute;top:25px;left:0px;right:0px;bottom:0px;
}
.popupTextTopLine {
    position:absolute;overflow:hidden;top:0px;left:0px; right:0px;height:30px;background-color:lightyellow;
    text-align: right; color: lightgray; font-weight: bold;
}

#popuptext::first-line {
    background-color: lightyellow;
}
.popupcontent {
    position:absolute;top:0px;left:0px;right:0px;bottom:0px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(88, 45, 13);
    margin: 4px;
    overflow: auto;
}

#editorHelp {
    position: absolute; top:50%; left:30%; width:65%; height:35%;
    border: 2px solid lightblue;
    padding: 2px;
    background-color: white;
    color: darkblue;
    display: none;
}

#editorHelpContent {
    position: absolute; top:0px; left: 0px; right: 0px; bottom: 0px;
    padding: 4px;
    overflow-y: scroll;
}

.picturebar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /*height: 40px; */
    background-color: rgb(253, 248, 220);
}

#tags {
    background-color: white;
    position: absolute;
    top:0px;left:0px;
    height:25px;width:90%;padding-left:5px;
}

.tag {
    background-color: #f0c9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 4px;
    border-radius: 4px;
}

.tag:hover {
    opacity: 0.5;
}

#youtube {
    position:absolute;top:0px;bottom:0px;left:0px;right:0px;
    background-color:rgba(0,0,0,0.5);
    z-index: 210;
    display:none;
}
#youtubePlayer {
    position:absolute;top:20%;left:20%;height:60%;width:60%;
}

.lightbox {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}
.lightboxNoPic {
    bottom:60px;right:50px;width:500px; max-width: 80vw;min-height:300px; height:40vh;
}

.lightboxExpand {
    top: 5px; bottom: 5px; left: 5px; right: 5px;
}


@media (min-width: 1000px) {
    .lightboxPics {
        top: 40px; bottom: 60px; left: 55vw; right: 40px;
    }   
    #target {
        left:30%;
    } 
}
@media (max-width: 1000px) {
    .lightboxPics {
        top: 5px; bottom: 5px; left: 5px; right: 5px;
    }
    #target {
        left:50%;
    }
}
@media (max-width:800px) {
    #workingTitle {
        display: none;
    }
}

#lightboxBack{
    position:absolute; top:6px; right:6px; font-size:larger;
    background-color: rgb(192,245,192);
}
#lightboxTopBar {
    position: absolute;
    bottom: 0px; right: 2px;
    height: auto; width:auto;            
}
#lightboxAuthor {
    font-size: small;
}
.lightBoxAuthorBox {
    display: inline-block;
    text-align: right;
}
#lightboxEditButton {
    display: none;
}
.lightboxNoPic .lightboxside {
    display:none;
}
.lightboxside {
    position:absolute;
    top:10%;bottom:35%;
    width:20%;
    font-weight: bold;
    font-size: 40px;
    margin: 4px;
    vertical-align: middle;
}
.leftside {
    left:0px;
    text-align: left;
}
.rightside {
    right:0px;
    text-align:right;
}
.lightboxside>div {
    position: relative; top: 50%; right:0px; left:0px; 
    margin-top:-5%;
}
.leftside>div {margin-left:5%;}
.rightside>div {margin-right:5%;}
#lightboxTop {
    position: relative;
    padding: 4px;
    min-height:10%;
}
#lightboxTop>h2 {
    margin-top: 4px;
    margin-left: 4px;
}


#lightboxMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height:60%;
    width:100%;
    margin: auto;
}

#lightboxPicAndCaption { 
    position: absolute;
    max-height: 90%;
}

.lightboxExpand #lightboxPicAndCaption {
    max-height: 85vh;
}

.lightboxExpand #lightboxMid {
    position: absolute;
    top:45px;
    height:95%;
}
.lightboxNoPic #lightboxMid {
    display:none;
}
#lightboxImg {
    max-height: 40vh; width: auto;
    max-width:100%; 
    display: block;
    margin: auto;
}
.lightboxExpand #lightboxImg {
    max-height: 80vh;
}
#lightboxExpand {
    position: absolute; top: 0px; right:4px;
    z-index: 250;
}
#lightboxCaption {
    text-align: center;
}
#lightboxBottom {
    position: absolute;
    left: 4px;
    right: 10px;
    padding: 4px;
    overflow-y: auto;
}
.lightboxExpand #lightboxBottom {
    display: none;
} 
.lightboxNoPic #lightboxBottom {
    top: 60px;
    bottom: 40px;
}
.lightboxPics #lightboxBottom {
    top: 70%;
    bottom: 40px;
}

#lightbox a {
    color: lightblue;
}

#lightbox a:link {color: #a0f0ff}
#lightbox a:visited {color: #00a0ff}
#lightbox a:hover {color: #FFCC00}
#lightbox a:active {color: #FF00CC}

#deletePicButton {
    background-color: darkred;
    border-radius: 4px;
    padding: 4px;
    color:white;
    position: absolute;
    top: 0px; right: 0px;
}


#caption {
    display:block; 
    background-color: black; color:white; 
    max-width:100%;
    padding:6px;
}

.label {
    position:absolute; top: 20px; left: 20px;
    padding:4px;
    color: white;
    font-weight: bold;
}

#topLeftControls {
    position: absolute;
    top: 2px; left: 2px;
}

.panelButton {
    border-radius: 4px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    height: 25px;
    min-width: 25px;
    padding: 4px;
    cursor: pointer;
}
.panelButton:hover {
    box-shadow: 3px 3px;
}
.whiteButton {
    color: blue;
    background-color: white;
    border: 1px solid blue;
}
.addButton {
    background-color: blue;
    border: 1px solid white;
    color: white;
    font-size: larger;
    padding-top:0;
    padding-bottom:8px;
}


.smallButton {
    color: blue;
    background-color: white;
    border: 1px solid blue;
    font-size: small;
}


.smallBlueButton {
    color: whitesmoke;
    background-color: blue;
    font-size: small;
}

.activeSearchButton {
    background-color: yellow;
    outline: 2pt solid red;
}

.bluedot {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    height:10px;
    width:10px;
    border-radius:50%;
    background-color:blue;
}

/*
#addPlaceButton {
    position: absolute;
    right: 8px; top: 52px;
    
}

#addFileButton {
    position: absolute;
    right: 8px; top: 98px;
}
*/

#topLeftControls div [onclick]:hover {
    box-shadow: 2px 2px;
}

#topMessage {
    position: absolute; top:50px;right:10px;height:25px;
    display:inline-block;
    vertical-align: middle; text-align:center;
    padding:4px; 
    background-color: rgba(255, 250, 250, 0.5);
    color: black;
}

#picLaundryFlag {
    background-color: red;
    color: white;
    visibility: hidden;
}

#mapbutton {
    position:fixed; top:2px; right:10px; padding:0px;height:35px;width:35px; border:2px solid blue;
}
#mapbutton:hover {
    border: 3px solid lightskyblue;
}
#poptopright {
    background-color: white; color: blue;
    padding-left: 4px; padding-right: 4px;
    vertical-align: top;
    position: absolute; top:0px; right: 0px;
}
#author {
    background-color:white; color: blue;
    right:24px;
    position:absolute;
}
#popclose {
    border-radius: 4px;
    background-color: red;
    font-weight: bold;
    color: white;
    text-align:center;
    vertical-align: top;
    position: absolute;
    top:0px;right:0px;height:22px; width:22px;
}

.tooltip { 
    position: relative;   
    display: inline-block;
}

.tooltip .tooltiptext { 
    visibility: hidden;
    bottom: 100%;    
    left: 50%;
    margin-left: -50%;
    background-color: white;
   color: black;
   border: 1 solid white;
   text-align: center;
   font-size:small;
   padding: 2px;
   border-radius: 1px; 
   position: absolute;
} 

.tooltip:hover .tooltiptext {
   visibility: visible;
}


#thumbnails {
    display:inline-block
}

.target {
    background-color: rgba(255,255,255,0);
    box-shadow: 0 0 0 2pt white;
    border: 2px solid blue;
    border-radius:50%;
    font-size: x-large;
    font-weight: bold;
    color: red;
    text-align: center;
    vertical-align: top;
    position: absolute;
    top:30%; left:50%;
    width: 40px; height: 40px;
    margin:-20px;
    visibility: hidden;
}

.deleteButton {
    color: red;
    background-color: #ffe0ff;
    vertical-align: top;
}


#loosePicsShow {
    position: absolute; top: 0px; left: 0px; width: 220px; max-height: 100%;
    padding-top:50px;
    overflow: auto;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.selectable {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    pointer-events: auto;
    cursor: pointer;
}

/* for Safari */
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.petals {
    display:none;
    position: absolute;
    width:600px;
    height:560px;
}
.petal {
    display:block;
    position: absolute;
    height: 200px; width:200px;
    border-radius: 50%;
    background-color: lightblue;
    box-shadow: 3px;
    object-fit: cover;
}
.petaltext {
    display:block;
    position: absolute;
    height:200px;width:200px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align:center;
    padding:10px; /* Provide a perimeter space around the text */
    margin:-10px; /* Compensate for the padding in positioning */
}
.petaltext::first-line {
    background-color: rgb(90, 88, 88);
    color: white;
    border-radius: 4px;
}
.infoBox {
    position: absolute;
    height: auto;
    width: 300px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.menu {
    display:none;
    position: absolute;
    background-color: white;
    border: 1 solid blue;
    box-shadow: 2px 2px;
    border-radius: 4px;
}
.menu>div {
    padding: 4px;
}
.menu>div:hover {
    font-weight: bold;
}

.avbox {
    padding: 2px;
    margin: 2px;
    display: none;
    background-color: rgba(255, 250, 250, 0.0);
    border-radius: 4px;
    overflow-y: auto;
    pointer-events: all;
    position: absolute;
    top:40px;left:0px;
}

.contextMenu {
    display:none;
    position:fixed;
    font-size:small;
    background-color: white; 
    border: 1px solid blue;
    padding: 1px;
}
.contextMenu>div {            
    padding: 4px;
    border: 1px none white;
}
.contextMenu>div:hover {
    border: 1px solid blueviolet;
    font-weight: bold;
}


.dialog {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog > div {
    display: inline-block;
    position: fixed;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    border-color: grey;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: ivory;
}

.toolbutton {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.toolbutton {
    background-color: royalblue;
    color: white;
    padding: 3px;
    display: inline-block;
    position: relative;
}

.toolbutton:hover {
    background-color: cornflowerblue;
}

.toolbutton:active {
    background-color: blue;
}

.tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: white;
    color: #404040;
    text-align: center;
    padding: 5px 0;
    border-style: solid;
    border-color: #404040;
    border-width: 1px;
    box-shadow: 2px 2px gray;
    border-radius: 6px;
    position: fixed;
    text-align: left;

    padding: 2px;
}

/* Show the tooltip text when you mouse over the tooltip container */

.toolbutton:hover .tooltiptext {
    visibility: visible;
}

.helpBox {
    position: fixed;
    height:auto; bottom:5%; left:10%; right:10%;
    border: blue solid 2px;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;            
}

.helpBox p {margin-bottom: 6px; margin-top:0px;}

svg {
    position: fixed;
    top: 0px; left: 0px; 
    width: 100vw; height: 100vh;
    pointer-events: none;
}

.continueButton {
    background-color: lightgreen;
}

#usernamediv {
    position: relative;
}        

.closeX {
    position: relative;
    width:20px; height:20px;
    border-radius: 50%;
    text-align: center;
    background-color: lightgreen;
}
.closeX:hover {
    border: 4px solid cyan;
    box-shadow: 2px 2px;
}
.boxClose {
    position: absolute;
    top:5px; right:18px;
}

#groupSelectorBox {
    position: absolute;height:22px;left:0px;top:40px;
    overflow: hidden;
}

#indexSidebar {
    position: absolute; bottom:80px; left: 0px; top: 65px; width: 200px; 
    overflow: auto;
    background-color: aliceblue; color: black;
    cursor: pointer;
    display: none;
    padding-left: 4px;
}


#bottomLeftPanel {
    position: absolute; bottom:30px; left: 5px; width: auto; height: auto;
}


#tagsKey {
    position: absolute; top:0px;bottom:0px;left:0px;right:0px;
    display: none;
}
#tagsKeyPanel {
    position: absolute;
    bottom: 40px; left: 20px; height: auto; width: auto;
    background-color:whitesmoke;
    border-radius: 4px;
    border: 2px solid blue;
    padding: 4px;
}
#tagsKey>div {
    margin: 2px;

}
#tagsKey>div:hover {
    box-shadow: 2px 2px;
}
#tagKeyButton {
    background-image: url("../img/tags.png");
}
.tagButton {
    width:6px; height: 6px;
    border-radius: 50%;
    background-color: white;
    border-style: double;
    border-width: 8px;
    margin-right:10px;
    display: inline-block;
}
.commentTable td:first-child { width: 1%; text-align: right; font-size: small; font-style: italic; }
.commentTable tr:nth-child(odd) {background-color: rgba(100, 0, 255, 0.4);}
.commentTable div {min-width: 100px; width: fit-content; background-color: gray; color: white; padding-left: 4px; padding-right: 4px;}

@media (max-width:600px) {
    #usernamespan {
        display: none;
    }
    #lightboxExpand {
        display:none;
    }
}